// This config is specific to google-life-science

includeConfig 'base.config'

google {
    lifeSciences.bootDiskSize = 50.GB
    lifeSciences.preemptible = true
    zone = params.gls_zone
    network = params.gls_network
    subnetwork = params.gls_subnetwork
}

docker.enabled = true

executor {
    name = 'google-lifesciences'
}

process {
	withName: 'sra' {
        disk = "100 GB"
        cpus = {check_max(16, 'cpus')}
        memory = {check_max(60.GB, 'memory')}
    }
}